//footer
footer {

  //section
  .row {
    z-index: 1000;
    padding: 100px 0;
    justify-content: space-around;
    background-color: $color-black;
    align-items: start;
    margin: 0 -8px 0 -8px;

    .Navegation {

      //ul
      ul {

        //p
        p {

          //b
          b {
            color: $color-aqua;
            border-bottom: 2px solid;
            border-color: $color-primaria;
            font-family: 'Share Tech Mono', monospace;

          }

          //end b
        }

        //end p

        //li
        li {
          margin: 10px 0;

          //a
          a {
            color: $color-white-select;
          }

          //a
        }

        //end li
      }

      //end ul
    }

    //end navegation
  }

  //end section


  //Contacts
  .Contacts {

    //p
    p {

      //b
      b {
        color: $color-aqua;
        border-bottom: 2px solid;
        border-color: $color-primaria;
        font-family: 'Share Tech Mono', monospace;

      }

      //end b
    }

    //end p

    //a
    a {

      //p
      p {
        color: $color-white-select;
        border-bottom: 2px solid;
        border-color: black;

      }

      //end p
    }

    //end a
  }

  //end contacts


  //Copyright
  .Copyright {

    //p
    p {
      color: $color-aqua;
      font-size: 15px;
      font-family: 'Source Sans 3', sans-serif;

    }

    //end p
  }

  //end Copyright
}

//end footer